<div class="view-item-container history-item-container">
    <div class="view-middle-item">
        <div class="view-middle-item-content">
            <div class="history-week-name dynamic-text-m"> {{self.item.week | date}}
            </div>
            <div class="order-history-items">
                <div class="order-history-item dynamic-text-m"
                     ng-class="{'major':self.dishIsInMajority(dish.dish)}"
                     ng-repeat="dish in self.item.dishes | orderBy :self.sortItem:true">
                    <span class="order-item">{{dish.dish_name}}</span>
                    <span class="order-quantity">{{dish.vote}}v</span>
                    <span class="order-quantity">{{dish.assure}}a</span>
                </div>
            </div>
        </div>
    </div>
</div>