@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
users {
  @extend .sub-main-view;
  simple-header {
    @include inline-flex;
  }
  .email-icon-wrap {
    cursor: pointer;
    padding: 0.3em;
    height: 1em;
    img {
      // cursor: pointer;
      pointer-events: none;
      width: 1.2em; // margin-right:1em;
    }
  }
  .users-container {
    max-width: 100vw;
  }
  .users-items-wrapper {
    max-width: 100vw;
  }
}