<div class="view-item-container history-item-container">
    <div class="view-middle-item">
        <div class="view-middle-item-content">
            <div class="history-week-name dynamic-text-m"> {{self.item.week | date}}
                <span class="comment-toggler" ng-if="self.has_comments"
                     ng-click="self.toggleComments($event)">
                    <img ng-src="~assets/images/Comment-Off@2x.png"
                         ng-show="!self.show_comment">
                    <img ng-src="~assets/images/Comment-On@2x.png"
                         ng-show="self.show_comment">
                </span>
            </div>
            <div class="order-history-items">
                <div class="order-history-item dynamic-text-m"
                ng-class="{'has-feedback': !!order.feedbacks.length}"
                     ng-repeat="order in self.item.dishes">
                    <span class="order-quantity">{{order.quantity}}</span>
                    <span class="order-item">{{order.name}}</span>
                    <span class="order-price">{{order.price | currency}}</span>
                    <span class="order-rating-wrapper">
                        <span class="order-rating"
                              ng-if="order.rating">
                            <starsy mode="read"
                                    margin="1"
                                    this-much="order.rating"
                                    number-of-stars='5'>
                            </starsy>
                        </span>
                    </span>
                    <ul class="order-feedbacks"  ng-show="self.show_comment">
                        <li class="order-feedback"
                            ng-repeat="feedback in order.feedbacks">{{feedback}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="view-right-item item-price dynamic-text-xs">{{self.item.total | currency}}</div>
    </div>
</div>