<div class="history-view-header sub-main-view-header">
  <simple-header head-title="self.headTitle"
                 subhead-title="self.subheadTitle"></simple-header>
</div>
<div class="historys-container sub-main-view-container">
  <div class="no-orders"
       ng-if="!self.myvotes.length">No Votes yet!</div>
  <div class="history-items-wrapper"
       ng-repeat="vItem in self.myvotes |orderBy:self.sortItem:true"
       ng-class="{'current-order': vItem.week==self.currentWeek, 'disabled':!self.isAdmin}">
      <vote-history-item item="vItem"
                    ng-click="self.openVoteDetails(vItem)" major-items="self.majorityItems">
                  </vote-history-item>
  </div>
</div>
<!-- <footer-btn foot-text="{{self.btnText}}"
          callback="self.nocallback"></footer-btn> -->