@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';

html,body{
    background-color: $primary-blue;
    width:100%;
    height:100%;
    .container {
        height: 100%;
        width: 100%;
    }
}

*{
 cursor: default !important; 
 outline:none;
}