@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';

home {
    .buttons {
        padding: 30% 12%;
        text-align: center;
        .button {
            width: 300px;
            padding: 0.4em 0vh;
            color: $facebook;
            font-weight: bold;
            font-size: 2.5vh;
            letter-spacing: 0px;
            margin: 0px 0.2vh;
            background-color: $main-app-color;
            position: relative;
            line-height: 5vh;
            cursor:	pointer; 
            @media (min-width: 768px) {
                line-height: 3vh;
            }
            img {
                height: 2.5vh;
                width: auto;
                margin-right: 5px;
                position: absolute;
                top: 2.3vh;
                @media (min-width: 768px) {
                    // height: 35px;
                    top: 1vh;
                }
            }
            span {
                padding-left: 3.5vh;
            }
        }
    }
}