@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
payment {
  @extend .sub-main-view;
  .no-payment {
    @extend .main-lightitalic-font;
    font-size: 1.5em;
    padding: 1em;
  } 
  .user-payment-container{
    @include flexbox;
    @include flex-direction(column);
      @include align-items(center);
      // max-height: 70vh;
    overflow-y: scroll;
    .user-item-payment{
      width: 100%;
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-around);
      @include flex-direction(row);
      .user-item-payment-wrap {
      // width: 60%;
      padding : 0.7em;
        @include flex(1, 0, 0);
        margin: 0 3em;
      
      @include flexbox;
      @include align-items(space-around);
      @include justify-content(space-around);
      @include flex-direction(row);
      &.deleted {
        text-decoration: line-through;
      }
      .user-item-payment-wrap-icon {
        @include flex(0, 0, 10%);
        @include justify-content(flex-end);
        @include flexbox();
        padding: 0 0.4em;
        img {
          width: 0.7em;
          height: 0.7em;
          @media(min-width: 600px) {
            width:0.85em;
            height: 0.85em;
          }
        }
      }
      .user-item-payment-wrap-date {
        @include flex(1, 0, 0%);
        @extend .main-semibold-font;
        color:$chase-grey;
        @include justify-content(flex-start);
        padding-left: 0.3em;
        @include flexbox();
        &.admin-added {
          position: relative;
          overflow: visible;
          &:before {
            content: '*';
            position: absolute;
            left: -0.5em;
          }
        }
      }
      .user-item-payment-wrap-amount {
        margin-left:auto;
        @include flex(0, 0, 0%);
        @include justify-content(flex-end);
        @include flexbox();
        padding: 0 0.4em;
        @extend .main-thin-font;
        color:$chase-grey;
      }
    }
  }
}
  .payment-input-wrap {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    .user-item-pay {
      margin: 1em;
      @include flex(0, 0, 8em);
      max-width: 10em;
      width: 25vw;
      border: 2px solid $main-grey;
      @include border-radius(0.3em);
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      @include flex-direction(row);
      padding: 0.5em 0;
      text-align: center;
      color: $chase-green;
      &.cook {
        color: $chase-red;
      }
      cursor: pointer !important;
      &.deducting {
        color: $chase-red !important;
        border-color: $chase-red !important;
        &.cook {
          color: $chase-green !important;
          border-color: $chase-green !important;
        }
      }
      &:hover {
        border-color: $chase-blue;
      }
      &:active,
      &:focus {
        border-color: $chase-green;
        &.cook {
          color: $chase-red !important;
          border-color: $chase-red !important;
        }
      }
    }
  }
}