<div class="view-item-container user-item-container">
    <div class="view-middle-item">
        <div class="view-middle-item-content">
            <div class="user-item-header">
                <div class="user-item-profile-picture">
                    <img ng-src="{{self.item.image}}" ng-if="!!self.item.image" alt="">
                    <img ng-src="{{self.defaultPic}}" ng-if="!self.item.image" alt="">
                </div>
                <div class="user-item-name dynamic-text-l" ng-class="{'emailname':self.item.email == self.username}">{{self.username}}
                    <span class="cook-label" ng-if="self.item.has_type=='cook'">(cook)</span>
                </div>
                <div ng-if="self.status(self.item)" class="user-item-status dynamic-text-xs">{{self.status(self.item)}}</div>
            </div>
            <div class="user-item-payments">
                <div class="user-item-payment" ng-repeat="payment in self.payment_history |orderBy:'-week' | limitTo:self.limit">
                    <div class="user-item-payment-date dynamic-text-s">{{payment.week | date:'dd MMM yy'}}</div>
                    <div class="user-item-payment-amount dynamic-text-s">{{payment.amount | currency}}</div>
                </div>
                <div class="user-payment-show-more" ng-click="self.showMoreClicked()" ng-if="self.shouldShowMore(self.payment_history, self.limit)">show more</div>
            </div>
        </div>
    </div>
    <div class="view-right-item user-item-owe-wrap">
        <div class="user-item-owes dynamic-text-xs">{{self.owesText(self.item.has_type)}}
            <span ng-if="self.owes">{{(self.owes > 0? self.owes : -self.owes | currency)}}</span>
        </div>
        <input ng-class="{'deducting':self.payAmount<0 , 'cook':self.item.has_type=='cook' }" class="user-item-pay dynamic-text-xs"
            currency-format ng-model="self.payAmount" />
    </div>
</div>