@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';

.transition-prefix {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
qr{
  width:300px;
  height: 300px;
  position: absolute;
  top:0;
  left:0;
  display: inline-block;
  .qrcode{
  height: 300px;
  width:300px;
    
  }
}
// colpick {
//   .color-wrap {
//     @include flexbox;
//     @include justify-content(space-between);
//     @include align-items(center);
//     .color-border,
//     .color-icon {
//       box-sizing: border-box;
//       &.green {
//         background: $check-green;
//         border-color: $check-green;
//       }
//       &.red {
//         background: rgb(204, 19, 81);
//         border-color: rgb(204, 19, 81);
//       }
//     }
//     .color-border {
//       @include border-radius(50%);
//       border: none;
//       margin: 0.15em;
//       width: 2em;
//       height: 2em;
//       overflow: hidden;
//       @include flexbox;
//       @include justify-content(space-between);
//       @include align-items(center);
//       &.active {
//         .color-icon {
//           @extend .transition-prefix;
//           border-color: white !important;
//           transform-origin: center;
//           -webkit-transform-origin: center;
//           transform: scale(0.85);
//           -webkit-transform: scale(0.85);
//           opacity:1;
//         }
//       }
//       .color-icon {
//         // border: 1px solid $divider-grey;
//         margin: auto;
//         border-width: 3px;
//         border-style: solid;
//         border-color: white !important;
//         @include border-radius(50%); // display: inline-block; //   margin: 0.1em;
//         width: 100%;
//         height: 100%; // position: relative;
//         box-sizing: border-box;
//         transform-origin: center;
//         -webkit-transform-origin: center;
//         transform: scale(1.0);
//         -webkit-transform: scale(1.0);
//         opacity:0;
//         @extend .transition-prefix;
//       }
//     }
//   }
// }