@import 'assets/stylesheets/common';
@import 'assets/stylesheets/flex';
@import 'assets/stylesheets/variables';

.transition-prefix {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


chat {
  .chat-wrap {
    height: 100%;
    width: 100%;
    .sidenav {
      background-color: #DFE6EB;
      width: 270px;
      height: 100%;
      overflow-y: hidden;
      
      .topbar {
        width: 100%;
        // height: 250px;
        @include flexbox();
        @include align-items(flex-end);
        .search-bar-conatiner {
          width: 100%;
          height: 35px;
          /* margin-top: 20px; */
          padding: 10px;
          @include flexbox();
          @include align-items(center);
          .search-textarea{
              width: 80%;
              margin-right:5%;
              padding:0 20px;
              resize: none;
              background-color: #CAD3DA;
              white-space: nowrap;
              overflow-x: scroll; 
              color:black;
              font-size: 1.2em;
              border-radius: 20px;
              padding : 0.5em 0.5em 0 0.5em;
              outline:none;
              border-color: #BBB;
              height: 87%;
          }
        }
        .convesation-list{
          width: 100%;
          height: calc(100% - 250px);
          .conversation-wrapper{
            max-height: calc(100% - 250px);
            width: 100%;
            // overflow-y: scroll;
          
            
          }
        }
      }
      
    }
    .view {
      position: fixed;
      width: calc(100% - 270px);
      height: 100%;
      left: 270px;
      top: 0;
      background-color: #f5f8fd !important;
      bottom: 0;
      right: 0;
    }
  }
}