<div class="chat-wrap">
    <div class="sidenav">
        <div class="topbar">
                <div class="search-bar-conatiner">
                            <textarea class="search-textarea" ng-model="self.personId" placeholder="Enter Id.."></textarea>
                            <img class="input-icon" src="{{self.send}}" alt="" ng-click="self.sendMessage()">
                        </div>
                        
        </div>
        <div class="convesation-list">
            <div class="conversation-wrapper">
                    <sidebar ng-repeat="conversation in self.conversationsList" item="conversation"></sidebar>

            </div>

        </div>
    </div>
    <div class="view" ui-view></div>
</div>

