@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';

menu-icon {
    height:100%;
    display: inline-block;
    
  .menu-icon-wrap{
    height:100%;
    display: inline-block;
    img{
    height:100%;
        
    }    
  }
}