<div class="order-view-header sub-main-view-header">
    <simple-header head-title="self.headTitle"
                   subhead-title="self.subheadTitle"></simple-header>
    <div class="align-head-right">
        <time-remaining ng-if="self.order_deadline"
                        time-passed="self.timePassed"
                        deadline="self.order_deadline"></time-remaining>
        <header-btn head-text="{{(self.showSubmit()? self.btnText:'') + ' ' +(self.orderTotal | currency) + '' }}"
                    callback="self.orderSubmit"></header-btn>
    </div>
</div>

<div class="orders-container sub-main-view-container" ng-class="{'disabled':!self.showSubmit()}">
        <div class="no-orders"
        ng-if="!self.orderItems.length">No votes yet!</div>
    <div class="order-items-wrapper"
         ng-repeat="vItem in self.orderItems" ng-click="self.vItemClicked($event)">
        <order-item ng-class="{'is-selected':vItem.quantity,'disabled':!self.showSubmit()}"
                    item="vItem"
                    quantity="vItem.quantity"></order-item>
    </div>
</div>

<footer-btn foot-text="{{(self.showSubmit()? self.btnText:'') + ' ' +(self.orderTotal | currency) + '' }}"
            callback="self.orderSubmit"></footer-btn>