@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
order {
  @extend .sub-main-view;
  .no-orders{
    @extend .main-lightitalic-font;
    font-size:1.5em;
    padding:1em;
  }
  .orders-container {
    &.disabled{
      background-color: #DDD;
    }
    .disabled {
      pointer-events: none;
      * {
        @include add-hover(transparent !important);
      }
    }
    order-item.is-selected {
      * {
        color: $chase-green;
      }
    }
  }
}