@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
login {
    width: 100%;
    height: 100%;
    .login-container {
        width: 100%;
        height: 100%; // max-width: 1300px;
        overflow-x: scroll;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('~assets/images/backgroundimage.jpg');
        .login-card {
            width: 35%;
            height: 35%; // min-width: 300px;
            @media (min-width: 300px) {
                width: 100%;
                height: 100%;
            }
            background-color: antiquewhite;
            @include flex(0,
            0,
            300px);
            @media (min-width: 300px) {
                @include flex(1,
            0);
            }
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-around);
            @include align-items(center);
            .login-image {
            }
            .login-button {
                border: 1px solid $facebook;
                padding: 0.5em;
                color: $facebook;
                font-weight: bold; // font-size: 2.5vh;
                letter-spacing: 0px; // margin: 0px 0.2vh;
                background-color: white;
                position: relative;
                line-height: 5vh;
                font-size: 2vh;
                cursor: pointer;
                @media (min-width: 768px) {
                    line-height: 3vh;
                }
            }
        }
    }
}

// .buttons {
//     @include flexbox();
//     @include justify-content(center);
//     @include align-items(center);
//     padding: 30% 12%;
//     text-align: center;
//     .button {
//         width: 300px;
//         padding: 0.4em 0vh;
//         color: $facebook;
//         font-weight: bold;
//         font-size: 2.5vh;
//         letter-spacing: 0px;
//         margin: 0px 0.2vh;
//         background-color: white;
//         position: relative;
//         line-height: 5vh;
//         cursor:	pointer; 
//         @media (min-width: 768px) {
//             line-height: 3vh;
//         }
//         img {
//             height: 2.5vh;
//             width: auto;
//             margin-right: 5px;
//             position: absolute;
//             top: 2.3vh;
//             @media (min-width: 768px) {
//                 // height: 35px;
//                 top: 1vh;
//             }
//         }
//        
//     }
// }