@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';

profile {
  @extend .sub-main-view;
  .logout{
    color:$chase-grey;
    padding:1em;
    cursor: pointer !important;
    @include add-hover();
  }
}
