@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
profile {
  @extend .sub-main-view;
  .release{
    text-decoration: underline !important;
    text-align: right;
    margin-right:1em;
    margin-bottom:1em;
    color:$chase-grey;
  }
  .profile-wrapper {
    margin: 2em;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    profilepic {
      height:10em;
      width:10em;
    }
    .profile-name {
      padding: 1em;
      @extend .main-heavy-font;
      color: $chase-grey;
      letter-spacing: 0.04em;
    }
    .profile-email {
      color: $chase-grey;
      @extend .main-italic-font;
      letter-spacing: 0.05em;
    }
    .logout {
      padding: 1em;
      cursor: pointer !important;
      color: $chase-red;
    text-decoration: underline !important;
    @include add-hover();
    }
   
  }
}