<div class="sub-main-view-header">
        <simple-header head-title="self.headTitle"
                   subhead-title="self.subheadTitle"></simple-header>
</div>
<div class="sub-main-view-container">
    <div class="profile-wrapper" ng-if="self.userDetails">
        <profilepic image="{{self.UserService.getprofileimageurl(self.userDetails.id)}}"></profilepic>
        <div class="profile-name dynamic-text-l">{{self.userDetails.name}}</div>
        <div class="profile-email dynamic-text-s">{{self.userDetails.email}}</div>
        <div class="button logout dynamic-text-s main-heavy-italic-font"
             ng-click="self.logout()">Logout</div>
    </div>
</div>
<div class="button release dynamic-text-s main-heavy-italic-font" ng-click="self.ReleasenotesPopup.open({});">release notes</div>
