@import '~assets/stylesheets/fonts';
@import '~assets/stylesheets/variables';

* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-user-select: none !important; /* Safari 3.1+ */
    -moz-user-select: none !important; /* Firefox 2+ */
    -ms-user-select: none !important; /* IE 10+ */
    user-select: none !important; /* Standard syntax */
    // fixes blue highlight on tap
}

// Used font-configs
.main-heavy-font {
    font-family: 'Lato-Heavy';
}

.main-medium-font {
    font-family: 'Lato-Medium';
}
.main-regular-font {
    font-family: 'Lato-Regular';
}
.main-italic-font {
    font-family: 'Lato-Italic';
}
.main-thin-font {
    font-family: 'Lato-Thin';
}

.main-lightitalic-font {
    font-family: 'Lato-LightItalic';
}

.main-thinitalic-font{
    font-family : 'ThinItalic';
}
.main-heavy-font{
    font-family: 'Lato-Heavy';
}

.main-semibold-font{
    font-family: 'Lato-Semibold';
}

.main-heavy-italic-font{
    font-family: 'Lato-HeavyItalic';
}

@mixin add-hover($col:$main-grey-light){
    &:hover{
        background-color: $col;
      }
}

// Common view scss
.sub-main-view {
    @include flex(1, 0, 0);
    @include flexbox;
    @include flex-direction(column);
    &-header {
        @include flex(0, 0, 10vw);
        max-height:120px;
        position: relative;
        .align-head-right{
            position: absolute;
            top:0;
            right:0;
            @include flexbox;
            height:100%;
            @include align-items(center);

            @media(min-width:600px){
                padding-top: 1.2em;
            }
            @media (max-width:600px){
                padding-top: 1em;
            }
            // @include justify-content(center);
        }
    }
    &-container {
        @include flex(1, 0, 0);
        background-color: $main-app-color;
        overflow-y: scroll;
    }
}


.view-item-container {
    //
    // mobile override
    //
    @media (max-width: 600px) {
      padding: 1em 0.1em;
      .view-left-item {
        margin-left: 0.5em !important;
      }
      .view-middle-item-content,
      .view-right-item {
        padding-top: 0.1em;
      }
    }
    padding: 1em 0; 
    
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(flex-start);
    min-height: 50px;
    .view-left-item {
      margin-left: 1em;
      @include flex;
      @include flex(0, 0, 2em);
      min-width: 20px; //
      // no need for events on this.
      // enitire div is clickable in this case
      pointer-events: none;
    }
    .view-middle-item {
      padding-left: 1em;
      @include flexbox();
      @include flex(1, 0, 0);
      @include justify-content(flex-start);
    }
    .view-middle-item-content,
    .view-right-item {
      @extend .main-italic-font;
      line-height: 1.5em !important;
      color: $chase-grey;
    }
    .view-middle-item-content {
      max-width: 20em;
    }
    .view-right-item {
      padding-left: 1em;
      margin: 0 1em 0 auto;
    }
  }




/*---------------------------------------
   Media Queries
-----------------------------------------*/

.my-text-capitalize {
    text-transform: capitalize;
}

.dynamic-header {
    @media (min-width: 200px) {
        height: 70px !important;
    }
    @media (min-width: 350px) {
        height: 70px !important;
    }
    @media (min-width: 412px) {
        height: 80px !important;
    }
    @media (min-width: 600px) {
        height: 90px !important;
    }
    @media (min-width: 900px) {
        height: 95px !important;
    }
}

.dynamic-has-header-2 {
    @media (min-width: 200px) {
        top: 70px !important;
    }
    @media (min-width: 350px) {
        top: 70px !important;
    }
    @media (min-width: 412px) {
        top: 80px !important;
    }
    @media (min-width: 600px) {
        top: 90px !important;
    }
    @media (min-width: 900px) {
        top: 95px !important;
    }
}

.dynamic-has-header {
    @media (min-width: 200px) {
        // top: 70px !important;
        top: 135px !important;
    }
    @media (min-width: 350px) {
        // top: 70px !important;
        top: 165px !important;
    }
    @media (min-width: 412px) {
        // top: 80px !important;
        top: 175px !important;
    }
    @media (min-width: 600px) {
        // top: 90px !important;
        top: 250px !important;
    }
    @media (min-width: 900px) {
        // top: 95px !important;
        top: 335px !important;
    }
}

.dynamic-height {
    @media (min-width: 200px) {
        height: 40px !important;
    }
    @media (min-width: 350px) {
        height: 40px !important;
    }
    @media (min-width: 412px) {
        height: 50px !important;
    }
    @media (min-width: 600px) {
        height: 70px !important;
    }
    @media (min-width: 900px) {
        height: 95px !important;
    }
}

.dynamic-text-m {
    @media (min-width: 200px) {
        font-size: 14px !important;
        line-height: 16px !important;
    }
    @media (min-width: 350px) {
        font-size: 15px !important;
        line-height: 17px !important;
    }
    @media (min-width: 412px) {
        font-size: 17px !important;
        line-height: 19px !important;
    }
    @media (min-width: 600px) {
        font-size: 22px !important;
        line-height: 24px !important;
    }
    @media (min-width: 900px) {
        font-size: 24px !important;
        line-height: 26px !important;
    }
}

.dynamic-text-xs {
    @media (min-width: 200px) {
        font-size: 10px !important;
        line-height: 11px !important;
    }
    @media (min-width: 350px) {
        font-size: 11px !important;
        line-height: 12px !important;
    }
    @media (min-width: 412px) {
        font-size: 12px !important;
        line-height: 13px !important;
    }
    @media (min-width: 600px) {
        font-size: 16px !important;
        line-height: 17px !important;
    }
    @media (min-width: 900px) {
        font-size: 19px !important;
        line-height: 20px !important;
    }
}

.dynamic-text-xxs {
    @media (max-width: 412px) {
        font-size: 11px !important;
        line-height: 12px !important;
    }
    @media (min-width: 600px) {
        font-size: 13px !important;
        line-height: 15px !important;
    }
    @media (min-width: 900px) {
        font-size: 17px !important;
        line-height: 18px !important;
    }
}
.dynamic-text-s {
    @media (min-width: 200px) {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    @media (min-width: 350px) {
        font-size: 13px !important;
        line-height: 15px !important;
    }
    @media (min-width: 412px) {
        font-size: 14px !important;
        line-height: 16px !important;
    }
    @media (min-width: 600px) {
        font-size: 19px !important;
        line-height: 21px !important;
    }
    @media (min-width: 900px) {
        font-size: 21px !important;
        line-height: 23px !important;
    }
}

.dynamic-text-l {
    @media (min-width: 200px) {
        font-size: 15px !important;
        line-height: 15px !important;
    }
    @media (min-width: 350px) {
        font-size: 18px !important;
        line-height: 18px !important;
    }
    @media (min-width: 412px) {
        font-size: 20px !important;
        line-height: 20px !important;
    }
    @media (min-width: 600px) {
        font-size: 25px !important;
        line-height: 25px !important;
    }
    @media (min-width: 900px) {
        font-size: 28px !important;
        line-height: 28px !important;
    }
}

.dynamic-text-xl {
    @media (min-width: 200px) {
        font-size: 17px !important;
        line-height: 17px !important;
    }
    @media (min-width: 350px) {
        font-size: 20px !important;
        line-height: 20px !important;
    }
    @media (min-width: 412px) {
        font-size: 22px !important;
        line-height: 22px !important;
    }
    @media (min-width: 600px) {
        font-size: 28px !important;
        line-height: 28px !important;
    }
    @media (min-width: 900px) {
        font-size: 31px !important;
        line-height: 31px !important;
    }
}

.dynamic-text-xxl {
    @media (min-width: 200px) {
        font-size: 20px !important;
    }
    @media (min-width: 350px) {
        font-size: 23px !important;
    }
    @media (min-width: 412px) {
        font-size: 25px !important;
    }
    @media (min-width: 600px) {
        font-size: 34px !important;
    }
    @media (min-width: 900px) {
        font-size: 38px !important;
    }
}

//////////////////////////////////////