<div ng-click="self.selectItem()"
     class="view-item-container vote-item-container">
    <checkbox class="view-left-item"
              toggle-var="self.isSelected"></checkbox>
    <div class="view-middle-item item-title-wrap">
        <div class="view-middle-item-content item-title dynamic-text-m">
            <span class="item-title-name">{{self.item.name}}
            <span class="item-vote-summary">
                <span class="item-title-votes dynamic-text-xs" ng-if="self.item.voteSummary && self.item.voteSummary.vote">{{self.item.voteSummary.vote}}</span>
                <span class="item-title-assures dynamic-text-xs" ng-if="self.item.voteSummary && self.item.voteSummary.assure">{{self.item.voteSummary.assure}}</span>
            </span>
        </span>
            <div class="vote-item-price  dynamic-text-xs"><span>{{self.item.price | currency}}</span>
                <div class="stars-container dynamic-text-s">
                    <starsy ng-if="self.item.rating"
                            mode="read"
                            margin="1"
                            this-much="self.item.rating"
                            number-of-stars='5'>
                    </starsy>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="view-right-item item-price dynamic-text-m"></div> -->
    <quantity-picker quantity="self.item.quantity"
                     ng-class="{'assure':+self.item.quantity}"
                     class="view-right-item dynamic-text-s"></quantity-picker>
</div>