@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
vote-item {
  cursor: pointer !important;
  * {
    cursor: pointer !important;
  }
  .vote-item-container {
    @include add-hover();
    .view-left-item {
      @media (max-width: 600px) {
        @include flex(0, 0, 1.5em !important);
      }
    }
    .item-title{
      .assure{
        overflow: visible;
        position: relative;
        &:after{
          content:'';
          display: inline-block;
          width:1em;
          height:1em;
          position: absolute;
          right:-1.3em;
          @include vertical-align(absolute);
          background-image: url('~assets/images/smile_emoji.png');
          background-repeat: no-repeat;
          background-size: contain;
          // top:-2.1em;
          // font-size:0.6em;
        }
      }
    }
    .vote-item-price {
      @include flexbox;
      @include align-items(center);
      // @include justify-content(center);
      @extend .main-lightitalic-font;
      // @media(min-width: 600px) {
      //   font-size: 1em !important;
      // }
      .stars-container {
        display: inline-block;
        font-size:1.1em;
        height: 0.65em;
        max-height: 0.65em;
          margin-left:0.3em;
         
      }
    }
    quantity-picker{
      overflow: visible;
      position: relative;
      &.assure{
        &:after{
          content:'assure';
          position: absolute;
          top:-2.1em;
          font-size:0.6em;
        }
      }
    }

  
    // .stars-container {
    //   // @include flexbox;
    //   // @include align-items(center);
    //   height: 0.65em;
    //   max-height: 0.65em;
    // }
  }

  
}