@import '~assets/stylesheets/common.scss';
@import '~assets/stylesheets/variables.scss';
@import '~assets/stylesheets/mixins.scss';
// $main-dark-color:white;
.email-users-popup-dialog {
  &.stax-popup {
    position: absolute;
    .stax-popup-overlay {
      position: absolute;
    }
  }
  .stax-popup-close {
    z-index: 999; // display: none;
  }
  .stax-popup-content {
    background-color: $main-dark-color;
    background-position: center center;
    background-size: cover;
    padding: 2vw 1vw !important;
    border-radius: 10px !important;
    max-width: 600px;
    width: 100%;
    .stax-popup-data {
      .popup-wrap {
        position: relative;
        text-align: center;
        width: 100%;
        height: auto;
        .title {
          @extend .main-semibold-font;
          color: $chase-grey;
        }
        .sub-heading {
          margin-bottom: 1em;
          .checkbox-container{
            .checkbox-label{
                // color:$chase-grey;
            }
          }
        }
        .checkbox-container {
          @include flexbox;
          height: 1em;
          color: $chase-grey;
          checkbox {
            img {
              height: 1em;
            }
          }
          .checkbox-label {
            @extend .main-regular-font;
            margin-left: 0.25em;
          }
        }
        .email-users-list {
          max-height: 20em;
          overflow-y: scroll;
          padding-left:0.9em;
          .email-user-item {
            height: 2em;
            .user-tags{
                @extend .main-thin-font;
              
                color:$chase-green;
                margin-left:0.5em;
                @include flexbox;
                // @include justify-content(center);
                @include align-items(flex-end);
            }
          }
        }
        textarea {
          @include flexbox;
          @extend .main-thin-font;
          width: 100%;
          height: 5em;
          border:1px solid $main-grey;
          background-color: $main-dark-color;
          color:white;
        }
        .box-row {
          margin: 2vh 0 0 0;
          width: 100%;
          .user-type {
            cursor: pointer;
            padding: 3%;
            margin: 2%;
            opacity: 0.5;
            transition: 0.2s;
            -webkit-transition: 0.2s;
            @include border-radius(5px);
            @extend .main-regular-font;
            color: white;
            &.active {
              transition: 0.2s;
              -webkit-transition: 0.2s;
              opacity: 1;
            }
            &.cook {
              background: $chase-green;
            }
            &.user {
              background: $chase-blue;
            }
            border: 2px solid white;
          }
          .close {
            color: white;
            transition: all 0.5s;
            border: none;
            @extend .main-regular-font;
            background: transparent;
          }
        }
        .user-add-error {
          cursor: pointer;
          color: $chase-red;
          @extend .main-italic-font;
        }
      }
    }
  }
}