<form name="emailusers"
      ng-submit="submit()"
      class="popup-wrap">
    <div class=" title dynamic-text-xl">{{ texts.header }}</div>
    <div class=" sub-heading dynamic-text-l">
        <div class="checkbox-container" ng-click="toggleSelectAll()">
            <checkbox toggle-var="allselected"></checkbox> <span class="checkbox-label">Select All</span>
        </div>
    </div>
    <div class="email-users-list dynamic-text-m">
        <div class="email-user-item"
             ng-repeat="user in userslist">
            <div class="checkbox-container" ng-click="toggleUserSelect(user.id)">
                <checkbox toggle-var="user.userSelected"></checkbox>
                <span class="checkbox-label">{{user.name}}</span>
                <span class="user-tags">{{user.type}}</span>
            </div>
        </div>
    </div>
    <textarea class="email-users-email-input dynamic-text-s"
              placeholder="Enter a message"
              ng-model="email_body"
              required/>
    <div class="box-row">
        <button type="submit"
                class="close dynamic-text-m">Submit</button>
    </div>
</form>