@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
vote {
  @extend .sub-main-view;
  .vote-view-header {
    .align-head-right {
      // @include align-self(flex-end);
    } // @include flex(0, 0, 10vw);
  }
  .votes-container {
    // @include flex(1, 0, 0);
    // background-color: white;
    // overflow-y: scroll;
    .item-type-class-wrap {
      margin-top: 1em;
      &:first-child{
        margin-top: 0em;
      }
      .type-title {
        padding: 0.5em 0.7em;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color:$chase-grey;
        @extend .main-heavy-font;
      }
    }
    .vote-items-wrapper {
      vote-item {
        .vote-item-container {}
      }
    }
  }
}