@import 'assets/stylesheets/common';
@import 'assets/stylesheets/flex';
@import 'assets/stylesheets/variables';

.transition-prefix {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

login {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
  width: 100%;
  background: white;
  h3 {
    color: #41393C;
  }
  .login-wrap {
    // height: 100%;
    // margin: 0 auto;
    // width: 70%;
    width: 80%;
    max-width: 550px;
    margin: auto;
    @include flexbox();
    @include flex-basis(57%);
    @include flex-direction(column);
    @include justify-content(center);
    // @include align-items(middle);
    .logo-wrap{
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include flex-basis(10%);
      width: 100%;
      .logo {
        border: 1px solid white;
        background: {
          repeat: no-repeat;
          position: center;
          size: contain;
        }
      }
    }
    .form-login {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include flex-basis(70%);
      background: #DFE6EB;
      width: 100%;
      text-align: center;
      min-height: 400px;
      .input-wrapper {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        height: 40px;
        width: 50%;
        background: #CBD3DA;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
        label {
        }
        .input-txt {
          border: none;
          background: transparent;
        }
      }
      .btn-wrap {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        height: 40px;
        width: 50%;
        margin: 0 auto;
        button {
          background: #4E5FDB;
          border: none;
          height: 100%;
          color: white;
        }
      }
      .user-signup {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        color: #7F8991;
        padding: 5px 0;
      }
    }
  }
}