<div class="login-wrap">
    <div class="logo-wrap" style="min-height:170px">
        <!-- <div class="logo" ng-style="{'background-image': 'url({{self.bgLogo}})'}"></div> -->
        <img width="100px" style="margin:auto" src="{{self.bgLogo}}" alt="">
    </div>
    <form class="form-login">
        <h3>Login to account</h3>
        <div class="input-wrapper">
            <label for="">Private Key</label>
            <input class="input-txt" type="password" placeholder="pk" ng-model="self.user.privatekey" required>
        </div>
        <div class="input-wrapper">
            <label for="">Password</label>
            <input class="input-txt" type="password" placeholder="Pass" ng-model="self.user.password" />
        </div>
        <div class="btn-wrap">
            <button type="submit" ng-click="self.login()">Login</button>
        </div>
        <div class="user-signup">
            <label for="">Not a user? </label>
            <div ui-sref="register.signup">Signup</div>
        </div>
        <div ui-view></div>
    </form>
</div>