@import '~assets/stylesheets/common';
@import '~assets/stylesheets/flex';
@import '~assets/stylesheets/variables';
simple-header {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex-direction(row);
    height: 100%; //
    // mobile override
    //
    @media (min-width: 600px) {
        border-bottom: none;
        .simple-header-wrap {
            padding-top: 3em;
            padding-left: 0em;
            margin-left: 1em;
            .simple-head,
            .simple-btn {
                color: white !important;
            }
        }
    }
    border-bottom: 1px solid $main-grey-light;
    .simple-header-wrap {
        @include flexbox;
        @include align-items(flex-start);
        @include justify-content(center);
        @include flex-direction(column);
        padding-top: 1.4em;
        padding-left: 0.5em;
        height: 100%;
        padding-bottom: 0.2em;
        .simple-head {
            @include flexbox;
            color: $chase-grey;
            @extend .main-medium-font;
            margin-bottom: 0.25em;
        }
        .simple-subhead {
            @include flexbox;
            @extend .main-medium-font;
            color: $chase-red;
        }
    }
}